$white: #ffffff;
$black: #3b3c45;
$background-light-gray: #fefefe;
$featured-bg-gray: #f5fafe;
$text-light-gray: #7d8589;
$text-light-blue: #0689ff;
$text-dark-blue: #000339;
$button-dark-blue: #0f1b4c;
$background-light-blue: #e6f0ff;
$background-dark-blue: #063183;
