$white: #ffffff;
$black: #000000;
$background-light-gray: #e5e5e5;
$text-light-blue: #0689ff;
$text-dark-blue: #000339;
$button-dark-blue: #0f1b4c;
$background-light-blue: #e6f0ff;
$background-dark-blue: #063183;
