@use "../variables/colors" as colors;

.button {
	display: flex;
	justify-content: center;
	padding: 12px 15px;
	border: none;
	border-radius: 12px;

	&--white {
		color: colors.$text-dark-blue;
		background-color: colors.$white;
	}

	&--full {
		color: colors.$white;
		background-color: colors.$button-dark-blue;
	}

	&--transparent {
		background: none;

		&:hover {
			border: 1px solid colors.$button-dark-blue;
		}
	}
}
