@use "../variables/colors" as colors;

.button {
	display: flex;
	justify-content: center;
	padding: 13px 15px;
	border: none;
	border-radius: 12px;

	&--white {
		color: colors.$text-dark-blue;
		background-color: colors.$white;

		&:hover,
		&:active {
			filter: invert(1);
		}
	}

	&--full {
		color: colors.$white;
		background-color: colors.$button-dark-blue;

		&:hover,
		&:active {
			color: colors.$text-dark-blue;
			background-color: colors.$white;
		}
	}

	&--transparent {
		background: none;

		&:hover,
		&:active {
			border: 1px solid colors.$button-dark-blue;
		}
	}
}
