@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.cta {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	background-color: colors.$background-dark-blue;

	@include sc-breakpoint(1024) {
		height: 320px;
		width: 90%;
		margin: 0 auto;
		margin-top: 50px;
		flex-direction: row;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: center;

		@include sc-breakpoint(1024) {
			position: relative;
			justify-content: center;
			gap: 25px;
		}

		& > * {
			@include sc-breakpoint(1024) {
				text-align: left;
			}
		}
	}

	&__button {
		width: 50%;
		margin: 0 auto;

		@include sc-breakpoint(1024) {
			margin: 0;
			width: 150px;
		}
	}

	&__image {
		@include sc-breakpoint(1024) {
			position: absolute;
			right: 0;
			transform: translateY(-67px);
		}

		img {
			width: 100%;
		}
	}
}
