@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.cta {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	background-color: colors.$background-dark-blue;

	&__image img {
		width: 100%;
	}
}
