@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.featured {
	display: flex;
	flex-direction: column;
	padding: 4%;
	gap: 40px;
	background-color: colors.$featured-bg-gray;

	@include sc-breakpoint(1024) {
		padding: 5% 8%;
	}

	&__cta {
		@include sc-breakpoint(1024) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
		}
	}

	&__title {
		padding: 20px 0;
	}

	&__cta__text {
		padding: 20px 0;

		@include sc-breakpoint(1024) {
			padding: 0;
		}
	}

	&__cta__link > a {
		padding-right: 10px;
		color: colors.$text-light-blue;
	}

	&__properties {
		@include sc-breakpoint(768) {
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: space-between;
		}

		@include sc-breakpoint(768) {
			flex-direction: row;
			gap: 20px;
		}
	}

	&__item {
		background-color: colors.$white;
		border-radius: 12px;
		margin-bottom: 20px;
		overflow: hidden;

		@include sc-breakpoint(1400) {
			width: 30%;
		}

		&__image {
			width: 100%;

			@include sc-breakpoint(1024) {
				transition: transform 0.2s;
				width: auto;

				&:hover {
					transform: scale(1.5);
				}
			}
		}

		&__description {
			padding: 10px 0 20px 0;
		}

		&__content {
			padding: 15px;

			@include sc-breakpoint(768) {
				padding: 15px 5px;
			}

			@include sc-breakpoint(1024) {
				padding: 15px;
			}
		}

		&__stats {
			display: flex;
			justify-content: space-between;

			.info {
				display: flex;
				align-items: center;

				&__text {
					@include sc-breakpoint(375) {
						padding-left: 5px;
					}

					@include sc-breakpoint(768) {
						padding-left: 0;
					}

					@include sc-breakpoint(1024) {
						padding-left: 5px;
					}
				}

				svg {
					width: 15px;
				}
			}
		}
	}

	&__image {
		overflow: hidden;

		@include sc-breakpoint(1024) {
			height: 227px;
		}
	}
}
