@import "../variables/breakpoints";

.footer {
	text-align: center;

	&__top {
		display: grid;
		row-gap: 50px;

		@include sc-breakpoint(425) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include sc-breakpoint(768) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include sc-breakpoint(1024) {
			// flex-direction: row;
			// justify-content: space-between;
			// align-items: baseline;
			// gap: initial;
		}
	}

	&__list {
		&__title {
			margin-bottom: 30px;
		}

		&__item {
			padding: 10px;

			@include sc-breakpoint(1024) {
				padding: 10px 0;

				&:hover {
					filter: invert(1);
				}
			}
		}

		&__social {
			display: flex;
			justify-content: space-around;

			@include sc-breakpoint(1024) {
				justify-content: left;
				gap: 20px;
			}
		}

		&__container {
			display: flex;
			align-items: center;
			flex-direction: column;

			@include sc-breakpoint(768) {
				text-align: left;
				align-items: baseline;
			}
		}
	}

	&__bottom {
		margin: 40px 0;

		@include sc-breakpoint(1024) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
