@import "../variables/breakpoints";

.footer {
	padding: 20px;

	&__top {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		text-align: center;

		@include sc-breakpoint(1024) {
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
		}
	}

	&__list {
		&__title {
			margin-bottom: 30px;
		}

		&__item {
			padding: 10px;

			@include sc-breakpoint(1024) {
				padding: 10px 0;
			}
		}

		&__social {
			display: flex;
			justify-content: space-around;
		}

		&__container {
			@include sc-breakpoint(1024) {
				text-align: left;
			}
		}
	}

	&__bottom {
		margin: 40px 0;
	}
}
