@import "../variables/breakpoints";

.footer {
	text-align: center;

	&__top {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		text-align: center;

		@include sc-breakpoint(1024) {
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
			gap: initial;
		}
	}

	&__list {
		&__title {
			margin-bottom: 30px;
		}

		&__item {
			padding: 10px;

			@include sc-breakpoint(1024) {
				padding: 10px 0;

				&:hover {
					filter: invert(1);
				}
			}
		}

		&__social {
			display: flex;
			justify-content: space-around;

			@include sc-breakpoint(1024) {
				justify-content: left;
				gap: 20px;
			}
		}

		&__container {
			@include sc-breakpoint(1024) {
				text-align: left;
				flex-grow: 1;
				flex-basis: 0;
			}
		}
	}

	&__bottom {
		margin: 40px 0;

		@include sc-breakpoint(1024) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
