@import "../variables/breakpoints";

ul > li {
	list-style: none;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.main,
.featured,
.stats,
.cta,
.footer {
	margin: 20px;

	@include sc-breakpoint(1024) {
		margin: 50px 60px;
	}

	@include sc-breakpoint(1400) {
		margin: 50px 80px;
	}
}
