@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.header {
	padding: 20px;
	background-color: colors.$background-light-blue;

	@include sc-breakpoint(768) {
		background-image: url("/src/images/house\ illustration.svg");
		background-repeat: no-repeat;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		padding: 15px 0;
		text-align: center;

		.header__button {
			margin-top: 10px;

			border-radius: 8px;
		}
	}

	.nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&__menu {
			display: none;
			width: 100%;
			grid-column: 1/-1;
			padding: 15px 0;
			background-color: colors.$white;

			&__icon {
				justify-self: flex-end;
			}
		}

		&__list {
			text-align: center;

			&__item {
				padding: 10px 0;
			}
		}

		&__buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px 0;

			button {
				width: 100px;
			}
		}
	}
}
