@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.main {
	display: flex;
	flex-direction: column;
	gap: 40px;

	.reviews {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: colors.$background-light-gray;

		@include sc-breakpoint(1024) {
			display: grid;
			justify-content: space-between;
		}

		&__stars {
			@include sc-breakpoint(1024) {
				grid-column: 2;
			}
		}
	}

	.clients {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		align-items: center;

		@include sc-breakpoint(768) {
			display: flex;
			gap: 60px;
		}

		&__logo {
			@include sc-breakpoint(768) {
				width: 200px;
			}

			img {
				width: 100%;
				height: 40px;

				&:hover {
					box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
				}

				@include sc-breakpoint(1024) {
					padding: 10px;
				}
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;

		@include sc-breakpoint(768) {
			gap: 30px;
		}

		@include sc-breakpoint(1024) {
			padding: 40px 0;
		}

		&__guide {
			display: flex;
			gap: 20px;
			padding: 20px 0;

			@include sc-breakpoint(768) {
				gap: 60px;
			}

			@include sc-breakpoint(1024) {
				display: flex;
				gap: 100px;
				text-align: center;
			}

			&__button {
				@include sc-breakpoint(1024) {
					margin-top: 20px;
				}
			}
		}

		&__content {
			position: relative;

			@include sc-breakpoint(768) {
				padding: 0 60px;
			}

			@include sc-breakpoint(1024) {
				width: 60%;
			}
		}
	}
}
